@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .aboutContent {
        height: auto;
    }
    .aboutPic {
        background-position: center 0%;
    }
    .aboutInfo {
        padding: 25px;
        width: 40%;
        color: white;
    }
    .aboutInfo h1{
        font-weight: 400;
        font-size: 32px;
        margin: 0;
        padding-bottom: 20px;
    }
    .aboutInfo p{
        font-size: 16px;
        line-height: 1.5;
    }
    .btn {
        padding: 15px 40px;
        font-size: 16px;
        margin-top: 10px;
    }

    /* project navbar */
    .projectNavBar h1 {
        font-size: 40px;
    }
    /* projects */
    .projects {
        grid-template-columns: repeat(4, 24%);
        grid-gap: 1%;
        padding: 20px 0;
    }
    .GUI, .perosnalProjects {
        display: none;
    }
    .visible {
        display: grid;
    }
    .card {
        width: auto;
    }
    .titleHeading{
        padding-top: 16px;
        font-size: 22px;
    }
    .date {
        font-size: 14px;
    }
}
