@media only screen and (min-width: 762px) and (max-width: 992px) {
  .showInMobile {
    display: flex;
  }
  .hideInMobile {
    display: none;
  }

  .welcomeContent {
    display: flex;
    background: #222222;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../../images/personalPicCover1.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }

  .welcomeContentText {
    width: 90%;
  }
  .welcomeContentText h3 {
    font-size: 6vw;
    opacity: 0.9;
  }
  .welcomeContentText h1 {
    font-size: 13vw;
  }
  .welcomeContentText p {
    font-size: 4vw;
  }

  /* about me content */
  #aboutPage {
    padding: 50px 0;
  }

  .aboutContent {
    display: block;
    height: auto;
    width: 90%;
  }
  .aboutPic {
    width: 100%;
    height: 500px;
    background-position: center 0%;
  }
  .aboutInfo {
    padding: 0;
    width: 100%;
  }
  .aboutInfo h1 {
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
  }
  .aboutInfo p {
    font-size: 18px;
    margin-bottom: 3%;
  }
  .btn {
    padding: 12px 30px;
    font-size: 19px;
    margin-top: 1%;
  }

  /* projects page */
  #projectPage {
    background-image: none;
  }

  .projectContainer {
    width: 90%;
  }

  /* project navbar */
  .projectNavBar {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    width: 100%;
  }
  .projectNavBar h1 {
    font-size: 40px;
  }
  .projectNavBar li {
    font-size: 16px;
  }

  /* projects */
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .cardHeader {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .cardHeader img {
    width: 100%;
  }
  .titleHeading {
    font-size: 25px;
  }
  .date {
    font-size: 16px;
  }

  .cardHeader:hover .btnContianer {
    opacity: 0.5;
  }

  /* contactInfo */
  #contactPage {
    width: 100%;
  }
  .contactContainer {
    display: block;
    width: 90%;
    padding: 0;
  }
  .contactInfo {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .contactInfo h1 {
    font-size: 45px;
  }
  .contactForm {
    width: 100%;
    padding: 0;
  }
  #textArea {
    min-height: 250px;
    margin-bottom: 0;
    color: #b5b5b5;
  }
  #textArea::-webkit-scrollbar {
    width: 1px;
  }
  #textArea::-webkit-scrollbar-track {
    background: #3b3a3a;
  }
  #textArea::-webkit-scrollbar-thumb {
    background: #3b3a3a;
  }
  .contactForm form .btn {
    margin-top: 3%;
    font-size: 19px;
  }
  .contactInfo h3 {
    padding-top: 0;
  }
}
