@media only screen and (max-width: 762px) {
  .showInMobile {
    display: flex;
  }
  .hideInMobile {
    display: none;
  }

  #mainPage {
    height: 92vh;
  }

  .welcomeContent {
    background-color: #141414;
  }

  .welcomeContentText h3 {
    font-size: 40px;
  }
  .welcomeContentText h1 {
    font-size: 3.5em;
  }
  .welcomeContentText p {
    font-size: 1em;
  }

  /* about me content */
  #aboutPage {
    background-image: none;
    padding: 30px 0;
  }

  .aboutContent {
    display: block;
    height: auto;
    width: 90%;
  }
  .aboutPic {
    width: 100%;
    height: 300px;
    background-position: center 0%;
  }
  .aboutInfo {
    padding: 0;
    width: 100%;
  }
  .aboutInfo h1 {
    font-size: 35px;
    margin: 0;
    padding: 20px 0;
  }
  .aboutInfo p {
    font-size: 16px;
    margin-bottom: 5%;
    text-align: justify;
  }

  .btn {
    padding: 12px 30px;
    font-size: 15px;
    margin-top: 1%;
  }

  /* projects page */
  #projectPage {
    background-image: none;
  }

  .projectContainer {
    width: 90%;
    padding: 25px 0;
    position: relative;
  }

  /* project navbar */
  .projectNavBar {
    display: block;
  }

  .projectNavBarHeader {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }
  .projectNavBar h1 {
    font-size: 30px;
    padding: 0;
  }

  /* animates the menu in and out */
  .visibilityToggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .projectNavBar ul {
    display: block;
    margin-bottom: 0;
    text-align: center;
  }

  .projectNavBar li {
    padding: 10px 0;
    border: none;
  }
  .projectNavBar li:first-child {
    padding-left: 0;
  }
  .projectNavBar li:last-child {
    padding-right: 0;
  }
  /* projects */
  .projects {
    width: 100%;
    padding: 0;
  }

  /* hides cards if more than 4 on mobile */
  .cardToggle {
    display: none;
  }
  .viewMore {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .viewMore button {
    position: absolute;
    width: 100%;
    padding: 18px;
    font-size: 18px;
    border-radius: 8px;
    background: none;
    border: 2px solid #f04e3c;
    color: #f04e3c;
    cursor: pointer;
    -webkit-animation: transitionCard 0.7s cubic-bezier(0.33, 0.61, 0.71, 1.17);
    animation: transitionCard 0.7s cubic-bezier(0.33, 0.61, 0.71, 1.17);
  }
  .viewMore button:focus {
    outline: 0;
  }
  .card {
    width: 100%;
  }
  .cardHeader {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .cardHeader img {
    filter: none;
    transform: none;
    transition: none;
  }

  .cardHeader:hover img {
    filter: none;
    transform: none;
  }

  .btnContianer {
    display: none;
  }
  .date {
    font-size: 16px;
  }

  /* contactInfo */
  #contactPage {
    width: 100%;
  }
  .contactContainer {
    display: block;
    width: 90%;
    padding: 0;
  }
  .contactInfo {
    width: 100%;
    padding-top: 50px;
    padding: 30px 0;
  }
  .contactInfo h1 {
    font-size: 25px;
  }
  .contactForm {
    width: 100%;
    padding: 0;
  }
  #textArea {
    min-height: 250px;
    margin-bottom: 0;
    color: #b5b5b5;
  }
  #textArea::-webkit-scrollbar {
    width: 1px;
  }
  #textArea::-webkit-scrollbar-track {
    background: #3b3a3a;
  }
  #textArea::-webkit-scrollbar-thumb {
    background: #3b3a3a;
  }
  .contactForm form .btn {
    margin-top: 3%;
  }
  .contactInfo h3 {
    padding-top: 0;
  }
}
